<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}Welcome!{% endblock %}</title>
        {% block stylesheets %}{% endblock %}
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    </head>
    <body>
      {% if is_granted('ROLE_ADMIN') %}
      <h4>12. cvičení, podúkol - Nastavte uživatelská práva pro odstavec v twigu</h4>
      <h5>Text, který se zobrazí jen adminovi</h5>
      {% endif %}

        {% block body %}
        {% endblock %}
        {% block javascripts %}{% endblock %}
    </body>
</html>
